.container{
    background: #ff017e;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.cake{
    background: linear-gradient(145deg, #f0cbff,#caabe6);
    height: 70px;
    width: 180px;
    border-radius: 5px;
    position: absolute;
}

.cake1{
    bottom: 30px;
    left: 60px;
}

.cream{
    background: #750de0;
    height: 10px;
    width: 100%;
    position: absolute;
    top: 30px;
}

.choco{
    position: relative;
}

.choco div{
    background: #663200;
    height: 12.5px;
    width: 25px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: absolute;
}

.choco div:nth-child(1){
    left: -2px;
}

.choco div:nth-child(2){
    left: 26px;
}

.choco div:nth-child(3){
    left: 52px;
}

.choco div:nth-child(4){
    left: 78px;
}

.choco div:nth-child(5){
    left: 104px;
}

.choco div:nth-child(6){
    left: 130px;
}

.choco div:nth-child(7){
    left: 156px;
}

.cake2{
    bottom: 96.5px;
    left: 60px;
    transform: scale(0.9);
}

.decoration div{
    position: absolute;
}

.decoration div:nth-child(1){
    height: 10px;
    width: 10px;
    background: #7105ed;
    border-radius: 50%;
    top: 20px;
    left: 50px;
}

.decoration div:nth-child(2){
    height: 6px;
    width: 6px;
    background: #7105ed;
    border-radius: 50%;
    top: 50px;
    left: 30px;
}

.decoration div:nth-child(3){
    height: 12px;
    width: 12px;
    background: #7105ed;
    border-radius: 50%;
    top: 30px;
    left: 100px;
}

.decoration div:nth-child(4){
    height: 4px;
    width: 4px;
    background: #7105ed;
    border-radius: 50%;
    top: 50px;
    left: 130px;
}

.decoration div:nth-child(5){
    height: 8px;
    width: 8px;
    background: #7105ed;
    border-radius: 50%;
    top: 30px;
    left: 160px;
}

.decoration div:nth-child(6){
    height: 9px;
    width: 9px;
    background: #7105ed;
    border-radius: 50%;
    top: 50px;
    left: 60px;
}

.decoration div:nth-child(7){
    height: 6.6px;
    width: 6.6px;
    background: #7105ed;
    border-radius: 50%;
    top: 30px;
    left: 10px;
}

.cake3{
    bottom: 157px;
    left: 60px;
    transform: scale(0.8);
}

.cake4{
    left: 60px;
    bottom: 209.5px;
    transform: scale(0.7);
}

.candle{
    position: absolute;
    width: 10px;
    height: 40px;
    background-color: #a5a5a5;
    bottom: 269.5px;
    left: 143px;
}

.flame{
    position: absolute;
    background: #f4d03f;
    opacity: 0.9;
    box-shadow: inset 0px 15px 5px #d35400,
    5px 15px 20px #fbffa3;
    width: 15px;
    height: 25px;
    border-radius: 50%;
    bottom: 308px;
    left: 140.3px;
    animation: flame 0.5s infinite;
}

@keyframes flame{
    from,
    to{
        transform: scale(1.1);
    }
    25%{
        transform: scale(0.9,1.0);
    }
    50%{
        transform: scale(1.1,0.9);
    }
    75%{
        transform: scale(0.95,1.05);
    }
}